body{
    background: url('../img/rojo.jpg');
    background-attachment:fixed;
}

#logo{

    background:#cf0808 ;
}
#menu ul li:hover{
    background: #cf0808;
}
.button-more{
 
    background:#cf0808;
}
